{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url({{ url_for('static', filename='img/about-bg.jpg')}})">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>About Me</h1>
            <span class="subheading">This is what I do.</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p>Hi i'm Kartik Kain a software engineer and this is my blog post.</p>
        <p>I post news about tech industry and what kind of new projects and software companies are currently working on and what we can expect from the companies. </p>
        <p> So if you want to get updated about tech-industry subscribe to blog post. </p>
      </div>
    </div>
  </div>

  <hr>

  {% include "footer.html" %}